<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title(current_article) %></title>
  <%= favicon_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'application' %>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
</head>
<body>
<div id="container">
  <%= partial 'header' %>

  <main id='article' role="main">
    <h1 class="article-title"><%= link_to current_article.title, current_article %></h1>
    <%= yield %>
    <%= partial 'disqus' %>
  </main>

 <%= partial 'google_analytics' %>
 <%= partial 'footer' %>
</div>
</body>
</html>
